body{
    
    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
}
.felx-container{
    display: flex;
}
h1{
    font-size:5.62rem;
    font-family: 'Otomanopee One', sans-serif;
    margin-bottom:10px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:3.5rem;
    font-weight:normal;
    margin-top: 10px;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size:2rem;

}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    line-height:2;
    
}
.top-section{
    background-image: url("top-banner.png");
    background-repeat: no-repeat;
    position:relative;
    padding:100px 200px;
    

    
   
   
}
.middle-section{
    padding:100px 200px;
    margin: 100px 0;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}


.intro{
    
}
.dream-big{
    padding-top:30px;
    padding-left: 250px;

}
.experience-section{
    padding:100px 200px;
    text-align: center;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;


}
.full-stack-web-developer{
    
    position: relative;
    width: 30% ;
    margin: 5% 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    padding:5%;
    
}
.baby-web-developer{
    
    position: relative;
    width: 30% ;
    margin:5% 5%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    padding: 5%;
    }
    
.orange{
    color:#FFA900;
}

.btn {
    background: #f76708;
    background-image: -webkit-linear-gradient(top, #f76708, #c7971c);
    background-image: -moz-linear-gradient(top, #f76708, #c7971c);
    background-image: -ms-linear-gradient(top, #f76708, #c7971c);
    background-image: -o-linear-gradient(top, #f76708, #c7971c);
    background-image: linear-gradient(to bottom, #f76708, #c7971c);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ffb700;
    background-image: -webkit-linear-gradient(top, #ffb700, #e3a11d);
    background-image: -moz-linear-gradient(top, #ffb700, #e3a11d);
    background-image: -ms-linear-gradient(top, #ffb700, #e3a11d);
    background-image: -o-linear-gradient(top, #ffb700, #e3a11d);
    background-image: linear-gradient(to bottom, #ffb700, #e3a11d);
    text-decoration: none;
  }